.post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.post-page__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border-radius: 2.5rem;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.post-page__info {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
}

.post-page__info__avatar {
  margin-right: 0.5rem;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
}

.post-page__info div:nth-child(2) {
  margin: auto 0.4rem;
}

.post-page__date {
  font-size: 0.7rem;
  margin: 0 0 0.5rem 0.5rem;
  color: grey;
}

.post-page__title {
  margin: 0 0 0.5rem 0.5rem;
  width: 25rem;
}

.post-page__image {
  height: 25rem;
  /* width: 40rem; */
  object-fit: cover;
}

.post-page__action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.post-page__action__like {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.post-page__action__report {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.post-page__action span:hover {
  color: #fd2d01;
}

.post-page__form {
  display: flex;
  justify-content: space-between;
  margin: 0.7rem;
}

.post-page__form input {
  width: 90%;
  border: none;
  outline: none;
  background: none;
  padding-left: 1rem;
  border-radius: 2.5rem;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.post-page__form__send:hover {
  color: #fd2d01;
}

@media screen and (max-width: 426px) {
  .post-page__container {
    width: 90%;
  }
}
