.create-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2.5rem;
  width: 60%;
  margin-bottom: 2rem;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.create-post__title-container {
  width: 90%;
  margin: 1rem auto;
  border-radius: 2.5rem;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.create-post__title {
  width: 90%;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  color: #555;
  padding: 10px 5px;
}

.create-post__file-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 50%;
  justify-content: space-evenly;
}

input[type="file"] {
  display: none;
}

.create-post__file {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fd2d01;
  border-radius: 1.5rem;
  padding: 0.5rem;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.create-post__file:hover {
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.create-post__button {
  border-radius: 1.5rem;
  padding: 0.5rem;
}

.create-post__button:hover {
  color: #fd2d01;
}
