.app {
  width: 1024px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) and (min-width: 426px) {
  .app {
    width: 768px;
  }
}

@media screen and (max-width: 426px) and (min-width: 375px) {
  .app {
    width: 425px;
  }
}

@media screen and (max-width: 375px) {
  .app {
    width: 375px;
  }
}
